html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {background:transparent;border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;outline:0;vertical-align:baseline;}
table {border-collapse:collapse;border-spacing:0;}

/* Main Layout */
html {height:100%;margin-bottom:1px;}
body {font-size:13px; font-family:'Myriad Pro',Arial,sans-serif;color:#555;}
h1,h2,h3,h4,.componentheading {font-weight:bold;margin:2em 0 1em;}
h1,.componentheading {font-size:180%;}
h2 {font-size:150%;}
h3 {font-size:130%;}
h4 {font-size:110%;}
a {color:#34647F;text-decoration:none;font-weight:bold;}
a:hover {text-decoration:underline;}
ul {margin:1em;}
p {margin-top:10px;margin-bottom:10px;}
#main {font-size:1.3em;line-height:140%;}
.background {position:absolute;width:100%;height:130px;}
#main .foreground, #message, #showcase, .leading, #page {position:relative;}
#message, #showcase {z-index:0;}
#main-content {border-bottom:1px solid #ddd;}
.dp20,.dp25,.dp33,.dp50,.dp100 {float:left;margin-top:15px;}
.dp20 {width:20%;}
.dp25 {width:25%;}
.dp33 {width:33.33%;}
.dp50 {width:50%;}
.dp100 {width:572px;margin-top:0;}
.clr {clear:both;font-size:0;}
#colmask {clear:both;overflow:hidden;position:relative;width:100%;}
#maincol, #wrapper {position:relative;}
.s-c-s #colmid, .s-c-x #colright {float:left;position:relative;width:200%;}
.s-c-s #colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s #col1wrap {float:right;position:relative;right:100%;width:50%;}
.s-c-s #col1pad, .x-c-s #col1, .x-c-s #colmid {overflow:hidden;}
.s-c-s #col1 {overflow:hidden;width:100%;}
.s-c-s #col2 {float:left;position:relative;overflow:hidden;margin-left:-50%;}
.s-c-s #col3 {float:left;position:relative;overflow:hidden;left:0;}
.s-c-x #col1wrap {float:right;position:relative;width:50%;}
.s-c-x #col1 {overflow:hidden;position:relative;right:100%;}
.s-c-x #col2 {float:left;position:relative;}
.x-c-s #colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s #col1wrap {float:left;left:50%;position:relative;width:50%;}
.x-c-s #col3 {float:right;position:relative;}
.s-c-s .ctr-color1, .s-c-s .ckl-color1, .s-c-x .ckl-color1, .x-c-s .cdr-color1 {background:#eee;}
.s-c-s .ctr-color2, .s-c-s .ckl-color2, .s-c-x .ckl-color2, .x-c-s .cdr-color2 {background:#D4DEE3;}
.s-c-s #col1pad, .s-c-x #colright, .x-c-s #colright {background:#fff;}
body {background:#F0F1F0;}
#wrapper {background:none;}
.cols1 {display:block;float:none;margin:0;width:100%;}
.cols2 {width:49%;overflow:hidden;}
.cols3 {width:30%;}
.column1, .column2 {position:relative;float:left;margin:0;}
.colpad {padding:0 10px;position:relative;}
.column2 {float:right;width:49%;}
.article_row {overflow:hidden;margin:0 -10px 15px -10px;}

/* Header */
#mlogo {float:left;}
#logo { background: url("../images/logo.png") no-repeat scroll 0 0 transparent;display: block;height: 80px;margin: 10px 5px 0px 0px;width: 180px;}
#header {overflow:hidden;}
#header li {list-style:none;float:left;padding-left:15px;font-weight:bold;}
#nav { background: none repeat scroll 0 0 #FFFFFF;float: left;height: 80px;position: relative;top: 10px;width: 777px;
    z-index: 1;}
#nav ul {margin:30px 0 0 90px;}
#nav li {list-style:none;float:left;padding-left:3px;height:34px;position:relative;}
#nav li a {display:block;padding:0 10px;line-height:30px;color:#1F1F1F;font-weight:bold;text-transform:uppercase;font-size: 16px;}
/*#nav li.active a {background:none;color:#EE606E;}*/
#nav li a:hover, #nav li:hover a, #nav li.sfHover a {background:none;color:#EE606E;text-decoration:none;}
#nav li a#active_menu-nav {color:#EE606E !important;}
#nav li ul {position:absolute;width:170px;left:-999em;margin-left:-1px;border:1px solid #295770;border-top:0;}
#nav li ul ul {margin:-31px 0 0 170px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul, #nav li.sfHover ul ul ul ul {left:-999em;}
#nav li li {padding:0;height:auto;background:#fff;width:170px;}
#nav li li a, #nav li li.active a, #nav li li a:hover {margin:0;height:30px;line-height:30px;background:#fff;border-top:1px solid #295770;color:#34647F;}
#nav li li a, #nav li.active li a {font-weight:normal;}
#nav li:hover ul, #nav li.sfHover ul {left:4px;}
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul, #nav li li li li.sfHover ul {left:0;}
#mainlevel-nav {}
.mainlevel-nav {margin-top: -5px;}

/* Showcase */
#showcase {margin:10px 0 8px 0;position:relative;color:#000;float:left;}
#showcase .background {position:absolute;width:100%;height:130px;}
#showcase .foreground {overflow:hidden;padding-bottom:0px;}
#showcase h1 {font-weight:normal;font-size:3.0em;line-height:105%;margin:25px 55px 10px 25px;}
#showcase h3 {font-weight:normal;font-size:1.4em;font-weight:normal;margin:0 55px 20px 25px;}
#showcase b {font-weight:normal;color:#7F8C51;}
#showcase .pad {padding:0 50px 25px 25px;}
#showcase .num {float:left;background:#7F8C51;text-align:center;line-height:90%;color:#fff;font-size:2em;padding:3px 8px;}
#showcase .pad h2 {font-size:1.4em;font-weight:bold;margin:0 0 5px 40px;}
#showcase .pad p {margin-left:40px;}
#showcase1 {background: none repeat scroll 0 0 #FFFFFF;color: #1F1F1F;float: left;margin: 10px 0 8px 10px;
    position: relative;}
#showcase1 .background {position:absolute;width:100%;height:130px;}
#showcase1 .foreground {overflow:hidden;padding-bottom:0px;}
#showcase1 h1 {font-weight:normal;font-size:3.0em;line-height:105%;margin:25px 55px 10px 25px;}
#showcase1 h3 {font-weight:normal;font-size:1.4em;font-weight:normal;margin:0 55px 20px 25px;}
#showcase1 b {font-weight:normal;color:#7F8C51;}
#showcase1 .pad {padding:0 50px 25px 25px;}
#showcase1 .num {float:left;background:#7F8C51;text-align:center;line-height:90%;color:#fff;font-size:2em;padding:3px 8px;}
#showcase1 .pad h2 {font-size:1.4em;font-weight:bold;margin:0 0 5px 40px;}
#showcase1 .pad p {margin-left:40px;}

/* Content styles */
p.buttonheading {position:absolute;top:2px;right:10px;margin:0;}
.buttonheading .icon {display:block;width:16px;height:16px;float:left;margin-left:5px;}
.buttonheading .pdf {background:url(../images/light4.png) -57px -366px;}
.buttonheading .print {background:url(../images/light4.png) -21px -366px;}
.buttonheading .email {background:url(../images/light4.png) -39px -366px;}
.iteminfo {font-size:90%;overflow:hidden;border-bottom:1px solid #dedede;margin-bottom:20px;display:block;margin-top:-10px;width:100%;}
.modifydate, .createdby, .createdate {display:block;}
.createdby {font-weight:bold;}
a.readon, a.readon2 {display:block;margin-top:15px;font-style:italic;}
a.readon2 {background:url(../images/light4.png) 100% -344px;display:block;float:right;color:#fff;font-weight:bold;line-height:20px;}
a.readon2 span {background:url(../images/light4.png) 0 -344px;display:block;margin-right:10px;height:21px;float:left;padding:0 5px 0 15px;}
.breadcrumbs-pad {padding:0 1px;}
div.breadcrumbs {background:url(../images/light4.png) 0 -68px repeat-x;border-bottom:1px solid #e6e6e6;font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;color:#777;border-top:1px solid #d9d9d9;}
div.breadcrumbs .sep {padding:0 5px;}
.component-pad {padding:1px 0px 0px;}
.banneritem_text {margin-bottom:10px;}
#modlgn_username, #modlgn_passwd {border:1px solid #ccc;padding:3px;}
.pagination span, .pagination a {margin-right:5px;}
#colmask ul li {list-style:circle;}
#colmask ul ul {margin-top:0;}
#colmask ul ul li {list-style:square;}
.colpad h2.contentheading {padding-right:65px;}
.sectiontableheader {font-weight:bold;line-height:25px;text-align:left;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align:left;padding:0 4px;vertical-align:middle;border-top:1px solid #ddd;line-height:30px;}
span.attention {display:block;margin:15px 0;padding:8px 10px 8px 10px;background:#FFF3A3;border:1px solid #E7BD72;color:#B79000;}

/* Modules */
.module {padding:1px;}
.module-title {font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;}
.module-body {padding:10px 15px 25px;}
.color1 .module-title {background:url(../images/light4.png) 0 -204px repeat-x;border-bottom:1px solid #ddd;color:#777;}
.color1 .module-body {border-top:1px solid #fff;}
.color2 .module-title {background:url(../images/light4.png) 0 -136px repeat-x;border-bottom:1px solid #c3d9e1;color:#50646d;}
.color2 .module-body {border-top:1px solid #dfeaef;}
#colmask .m_menu {background:#7F8C51;color:#fff;}
#colmask .m_menu .module-title {background:url(../images/light4.png) 0 -0px repeat-x;border-bottom:1px solid #6B7643;color:#fff;}
#colmask .m_menu .module-body {border-top:1px solid #97A763;}
#colmask .m_menu a {color:#fff;}
#colmask .m_menu ul {margin:0 1em;}
#mainmods, #mainmods2, #mainmods3 {overflow:hidden;padding-top:15px;}
#mainmods3 {padding:0;}
#mainmods3 .module-body{padding:0;}
.spacer .module {float:left;}
.spacer.w99 .module {width:100%;}
.spacer.w49 .module {width:49.2%;}
.spacer.w33 .module {width:24.7%;}
#header .module {float:right;margin-left:325px;}
#main-content li .active a {font-weight: normal;}

/* Footer */
#footer {background:#f7f7f7;border-top:1px solid #fff;}
.footer-pad {padding:10px 15px;overflow:hidden;}
#logo2 {width:165px;height:20px;background:url(../images/light4.png) 5px -646px no-repeat;display:block;float:right;margin-left:15px;margin-top:15px;}
#footer ul {margin:0;}
#footer li {list-style:none;float:left;padding-right:20px;font-weight:bold;}
#login {display: block;float: left;}
#lang {background: none repeat scroll 0 0 #EBEBEB;display: block;float: left;padding: 0 4px; height: 40px; }
#menu {float: right; font-weight:normal; margin-right: 185px; }
.mainphead {color: #FFFFFF;left: 30px;position: absolute;text-transform: uppercase;top: 40px;}
.mainphead1 {color: #FFFFFF;font-size: 34px;left: 30px;position: absolute;text-transform: uppercase;top: 70px;}
.mainpbutton {  background: none repeat scroll 0 0 #ED1C24;color: #FFFFFF;display: block;font-size: 14px;left: 24px;
    padding: 14px 20px;position: absolute;text-transform: uppercase;top: 400px;}
.mainpbutton a{color:#fff; font-weight:normal;}
.pname {color: #1F1F1F;font-size: 34px;text-align: center;text-transform: uppercase;}
.pname1 {color: #808080;font-size: 18px;margin-top: 10px;text-align: center;text-transform: uppercase;}
.seemore { border-top: 1px dotted #000000;color: #E66B50;margin: 10px auto;padding-top: 5px;text-align: center;
    text-transform: uppercase;width: 210px;}
.seemore a{color:#E66B50;font-weight:normal;}
.social {text-align:center;}
.m_mod {padding:0;width: 354px !important;}
.m_mod .module-body{padding:0}
#mainmods {background: url("../images/mainmodbg.jpg") no-repeat scroll 380px 256px transparent;border-top: 8px solid #606060;margin-bottom: 10px;}
.m_social {border-right: 1px dashed #D4D4D4;color: #606060;padding: 0;width: 136px !important;margin-bottom:10px; height:224px;}
.m_social .module-body {padding:0;}
.m_social h1 {font-weight: normal;line-height: 22px;margin-top: 12px;text-align: center;text-transform: uppercase;}
.m_pure {border-right: 1px dashed #D4D4D4;color: #606060;padding: 0;width: 193px !important;}
.m_pure h1 { font-weight: normal;line-height: 22px;margin-bottom: 8px;margin-top: 12px;text-align: center;   text-transform: uppercase;}
.m_pure .module-body {padding:0;}
.m_news .acymailing_form{background:#606060;}
.m_news .acyfield_email {padding-left:5px;color:#fff; font-style:italic;}
.m_news .acysubbuttons {padding-right:3px;}
.m_news .button{ background:#F0F1F0;border:none;}
.m_news .acymailing_module_form td {}
.m_news #user_email_formAcymailing1 {background:#606060;color:#fff;border:none;}
.readmore {padding:0;background:#fff;width:354px !important;}
.readmore .module-body{ overflow: hidden;padding: 0 0 10px 14px;width: 340px;}
.readmore a{color:#E66B50;font-weight:normal;text-transform: uppercase;font-style:italic;}
#mainmods2 {padding-top:0px;}
.info {padding:0 0 0 25px;width:583px !important;line-height: 13px;}
.info .module-body {padding:0;}
.info h3 {margin-top:5px;margin-bottom:5px;}
.contact .component-pad{background:#fff;margin-bottom: 15px;width: 620px;}
.maincomp{float: left; width:100%;}
.contmod {border-bottom:2px solid;padding: 0;margin-left: 70px;width: 282px;}
.contmod .module-body{padding:0;}
.contitle {border-bottom: 2px solid;font-size: 180%;margin-bottom: 20px;margin-top: 10px;padding-bottom: 15px;text-transform:uppercase; width: 100%; }
#title {padding:0;}
#title .module-body{padding:0;}
.sidemod {float:left;padding:0;}
.sidemod h3 {font-size: 100%;font-weight: normal;margin: 0 0 10px 0;text-transform: uppercase;}
.sidemod a{color:#ED1C24;font-weight: normal;}
.sidemod .module-body{padding:0;}
.contimg {margin-bottom: 10px;margin-top: 20px;margin-left: 70px;padding:0;}
.blogmod {margin-top: 10px;padding: 0;width: 313px !important;}
.blogcmod {background: none repeat scroll 0 0 #2d2d2d;height: 75px;margin-left: 0;margin-top: 10px;width: 100% !important;padding: 0;color:#fff;font-size:12px; font-family:HelveticaBoldCondensed; text-transform: uppercase;}
.blogcmod a{font-weight:normal;color:#fff;}
.botmods {margin-left: 30px;}
.about .component-pad {background: none repeat scroll 0 0 #FFFFFF;margin-top: 10px;width: 680px;margin-bottom: 10px;}
.abtmod1 {margin-left:10px;padding:0;margin-top:10px;margin-bottom: 10px;}
.about .component-pad #page{padding:35px 50px 50px;}
#abtmod1 {float:left;margin-right:10px;margin-bottom:10px;}
#abtmod1 .module{padding:0;}
#abtmod1 .module-body {padding:0;}
#abtmod2 {float:left;margin-right:10px;margin-bottom:10px;}
#abtmod2 .module{padding:0;}
#abtmod2 .module-body {padding:0;}
#abtmod3 {margin-bottom:10px;}
#abtmod3 .module{padding:0;}
#abtmod3 .module-body {padding:0;}
#abtmod4 {float:left;}
.abtmod4 {background: none repeat scroll 0 0 #FFFFFF;margin-bottom: 15px;margin-right: 10px;padding: 50px 20px 80px !important;width: 295px;height: 331px;}
#abtmod4 .module{padding:0;}
#abtmod4 .module-body {padding:0;}
#abtmod5 {margin-bottom:15px; float:left;}
#abtmod5 .module{padding:0;}
#abtmod5 .module-body {padding:0;}
#abtmod6 {float: left;margin-bottom: 15px;margin-left: 10px;}
#abtmod6 .module{padding:0;}
#abtmod6 .module-body {padding:0;}
.pro {margin-top:10px;}
.pro1 {margin-top:10px;}
.pro2 {margin-left:10px;}
.store #main {background: #fff;}
.store #nav {background:#F4F4F4;}
.store .readmore {background:#F8F7F7;}


@font-face {
    font-family: 'HelveticaBoldCondensed';
    src: url('fonts/HelveticaBoldCondensed.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStd';
    src: url('fonts/HelveticaLTStd-LightCond.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('fonts/HelveticaLTStd-BoldCond.otf');
    font-weight: normal;
    font-style: normal;
}
#menu, #login, #lang, .pname1 { font-family:HelveticaLTStd; }
#menu { margin-top:2px; }
#menu li a { font-size: 20px; }
#login { font-size: 16px; text-transform: uppercase; position: absolute; top: 22px; right: 100px; }
#lang { font-size: 14px; position: absolute; top: 20px; right: 23px; }
#nav { position: relative;  }
.mainphead,.mainphead1,.mainpbutton,.seemore, h1, h3 { font-family: HelveticaBoldCondensed; }
.mainphead { font-size: 14px; }
.mainphead1 { font-size: 48px; }
.mainpbutton { font-size: 18px; }
.pname { font-size: 48px; color: #3E3E3E; font-family:HelveticaLTStdBold; margin-top:10px; }
.pname1 { font-size: 22px; }
h1 { color: #606060; font-size: 27px; line-height: 104%!important; }
.m_news h3.module-title, .acymailing_module_form .text-input { font-family: 'Myriad Pro'; font-size: 13px; font-style: italic; }
h3 { color:#606060; }
h4 { font-family: HelveticaBoldCondensed; }
#user_email_formAcymailing1 {
	height: 18px; margin-top:-5px;
}
.m_news .button { font-family:HelveticaLTStdBold; font-size: 18px; padding: 6px 8px; height: 30px; display: block; }
.acysubbuttons {height: auto;}
.acyfield_email { padding-top: 0; }
.acymailing_module_form { background: #606060!important; height: 42px; position: relative; width:240px; padding:0;  }
.acymailing_module_form .button { position: absolute; top: 6px; right: 6px; }
.acymailing_module_form .text-input { position: absolute; top: 6px; left: 6px; background: #606060!important; color: white; outline: none; border: none; height: 30px; width: 150px; }

.company-info { font-family: 'Myriad Pro'; }

#mainmods2 .module-title { font-family: HelveticaBoldCondensed; color: #3B3B3B; font-size: 14px; text-transform: uppercase; }

h1 { text-transform: uppercase; }

h2.contentheadingabout { font-size:48px; color: #1F1F1F; font-family:HelveticaLTStdBold; text-transform:uppercase; font-weight: normal; margin-bottom:0.5em; }

.preview { font-family: 'Myriad Pro'; font-size: 23px; font-style: italic; line-height: normal; color: #3E3E3E; }

.social { height: 30px!important; }

#col1 { margin-bottom: 0; }

label { color: #3E3E3E; font-size: 14px; font-weight: bold; font-family: 'Myriad Pro'; margin-top: 1.5em; }

#contact-form input[type="text"], #contact-form textarea { background: #F4F4F4; border: 1px solid #EDEDED; font-family: 'Myriad Pro'; padding:6px; width: 250px; }

#contact-form button, .addtocart { background: red; border: none; color: white; font-family:HelveticaBoldCondensed; font-size: 18px; text-align: center; width: 135px; height: 40px; cursor: pointer; }

.catItemDateCreated { color:#606060; font-size:14px; font-family:'Myriad Pro'; font-weight: bold; }

.catItemTitle { text-transform: uppercase; color: #1F1F1F; font-family:'Myriad Pro'!important; font-size: 20px; font-weight:bold; font-style:italic; }

.product-list { width: 314px; float: left; margin-right: 10px; margin-top: 10px; position: relative; height: 400px; background: white; text-align: center; }

.product-list img.product-thumb { margin-top: 20px; }

.product-list .mainphead, .product-list .mainphead1 { color: #3E3E3E; margin-top: 266px; text-align: left; font-weight: normal; }


.product-list .mainphead1 { letter-spacing:-1px; font-size:38px; }

.product-list.last { margin-right: 0; }

.inner-content { background: white; padding: 28px 20px; width: auto; margin-top:12px; width: 598px; float: left; }

#content li { list-style-type: none!important; }

.one-fourth { width: 287px; float: left; margin: 12px; background: white; padding: 12px; margin-right: 0; }

.post-body { font-family: 'Myriad Pro'!important; font-size: 13px; }

.vimage { width: 642px; float: left; margin-right: 22px; text-align: center; }

#vmMainPage  { background: white; padding-right: 20px; padding-bottom: 20px; padding-top: 20px; margin-top: -15px; }

#vmMainPage h1 { color: #3E3E3E; font-size: 34px; font-weight: normal; margin: 0; }

span.super-title { font-size: 14px; color: #3E3E3E; text-transform:uppercase; }

#vmMainPage .social { margin-top: 1em; }

.vdesc { font-size: 14px; font-family: 'Myriad Pro'; }

.vmore, .vmAttribChildDetail label { color: #C0C0C0; font-size: 14px; text-transform: uppercase; font-weight: bold; }

.browseProductImage { border: 6px solid #F4F4F4; margin-right: 4px; }
.browseProductImage:hover { border: 6px solid #eee; text-decoration:none; }

.vprice { font-family: 'HelveticaLTStdBold'; margin: 0.5em 0 0.5em; margin-left: 662px; border-top: #333 solid 1px; padding-top: 0.5em; font-size: 39px; line-height: 130%; }

.productPrice { font-size: 39px; }

.vp { font-size: 12px; vertical-align: super; }

#qty, select { background: #F4F4F4; border: none; border: 1px solid #EDEDED; padding: 4px; }

.addtocart { margin: 1em 0 1em 0; display: block;font-size: 18px; text-transform:uppercase;  width: 150px; height: 40px; }

#view-cart { background: url(/images/cart.gif) left 3px no-repeat; padding-left: 25px; font-weight: bold; font-size: 11px; position: absolute; top: 30px; right: 95px; display: block; color: #666; }

.contact { width: auto!important; }

.contact .component-pad {  height: 582px!important; }

#shopping-cart {  }

#shopping-cart td, #shopping-cart th { padding: 5px; }

#shopping-cart tr { border-bottom: #999 solid 1px; }

#shopping-cart thead { text-align:left; font-size: 12px; color: white; background: #333!important; font-family: HelveticaBoldCondensed; text-transform:uppercase; background:#333; }