.editable { position: relative; }
.editable_menu { background-color: orange; text-align: center; padding: 2px 10px; position: absolute; top:-20px; left:0; border-radius: 20px 0;}
.editable_menu a { color: white; font-size: 10px;}
.editable_hide { display: none; }

#editable_cp { border-top-right-radius: 10px; border-bottom-right-radius: 10px; background-color: black; padding:20px;}
#editable_cp h3 { color: white; font-size:14px;}